/*------------------------------------*
    $CONTENT
\*------------------------------------*/
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/slick/slick.eot");
  src: url("fonts/slick/slick.eot?#iefix") format('embedded-opentype'), url("fonts/slick/slick.woff") format('woff'), url("fonts/slick/slick.ttf") format('truetype'), url("./fonts/slick.svg#slick") format('svg');
}
@font-face {
  font-family: 'isabella';
  src: url("fonts/isa/isabella.eot?8zolgs");
  src: url("fonts/isa/isabella.eot?8zolgs#iefix") format('embedded-opentype'), url("fonts/isa/isabella.ttf?8zolgs") format('truetype'), url("fonts/isa/isabella.woff?8zolgs") format('woff'), url("fonts/isa/isabella.svg?8zolgs#isabella") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="isa-"],
[class*=" isa-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'isabella' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.isa-graduation:before {
  content: "\e900";
}
.isa-photo-camera:before {
  content: "\e901";
}
.isa-wedding:before {
  content: "\e902";
}
.isa-camera:before {
  content: "\e90f";
}
.isa-phone:before {
  content: "\e942";
}
.isa-location2:before {
  content: "\e948";
}
.isa-mail:before {
  content: "\ea83";
}
.isa-google-plus2:before {
  content: "\ea8c";
}
.isa-facebook2:before {
  content: "\ea91";
}
.isa-instagram:before {
  content: "\ea92";
}
.isa-twitter:before {
  content: "\ea96";
}
.isa-youtube2:before {
  content: "\ea9e";
}
.active {
  background-color: #2c3e50;
  text-decoration: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 2rem 1rem;
}
.box--bottom-padding {
  padding-bottom: 0;
}
.box--work {
  max-width: 820px;
}
.list-none {
  list-style: none;
  margin: 0;
}
.margin--big {
  margin: 24px 0;
}
.margin--small {
  margin: 4px 0;
}

.margin-top{
  margin-top:1rem;
}




.img-responsive {
  height: auto;
  max-width: 100%;
  width: 100%;
}
.text {
  display: block;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  color: #fff;
}
.text--basecolor {
  color: #2c3e50;
}
.text--uppercase {
  text-transform: uppercase;
}
.z-index-uno {
  z-index: 1;
}
.icon-bottom {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-animation: anim2 ease-in-out 3s infinite alternate;
  animation: anim2 ease-in-out 3s infinite alternate;
  margin-left: -25px;
  text-align: center;
  width: 40px;
  z-index: 5;
}
.icon-bottom a {
  color: #fff;
}
.icon-bottom a i {
  font-size: 1.8rem;
}
.padding--text {
  color: #2c3e50;
  padding: 1rem 0 0.3rem;
}
@-webkit-keyframes anim2 {
  from {
    left: 50%;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  50% {
    left: 50.5%;
    -webkit-transform: scale(0.9) rotate(10deg);
    transform: scale(0.9) rotate(10deg);
  }
  to {
    left: 49.5%;
    -webkit-transform: scale(1.1) rotate(-20deg);
    transform: scale(1.1) rotate(-20deg);
  }
}
@keyframes anim2 {
  from {
    left: 50%;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  50% {
    left: 50.5%;
    -webkit-transform: scale(0.9) rotate(10deg);
    transform: scale(0.9) rotate(10deg);
  }
  to {
    left: 49.5%;
    -webkit-transform: scale(1.1) rotate(-20deg);
    transform: scale(1.1) rotate(-20deg);
  }
}
/* normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent /* 1 */;
  -webkit-text-decoration-skip: objects /* 2 */;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
figure {
  margin: 0;
}
hr {
  -webkit-box-sizing: content-box /* 1 */;
  box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
button,
input,
select,
textarea {
  font: inherit /* 1 */;
  margin: 0 /* 2 */;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button /* 2 */;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box /* 1 */;
  box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box /* 1 */;
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
  filter: alpha(opacity=54);
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:after {
  clear: both;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  color: #2c3e50;
}
.slick-prev {
  left: -18px;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
.slick-next {
  right: 0;
}
.slick-next:before {
  content: '→';
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 1rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  color: #2c3e50;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
a {
  text-decoration: none;
  color: #2c3e50;
}
a:visited {
  color: #2c3e50;
}
a:hover {
  text-decoration: underline;
  color: #1a242f;
}
a:focus {
  outline: thin dotted;
  color: #1a242f;
}
a:hover,
a:active {
  outline: 0;
}
.btn {
  background-color: #33485c;
  border: none;
  border-radius: 5px;
  color: #3c4757;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: normal;
  line-height: 2.1;
  margin: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
/**
 	* No one wants a button with underlined text when
 	* We hover.
 	*/
}
.btn white-space nowrap {
  letter-spacing: 1px;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.btn--center {
  margin: 0 auto;
  width: 160px;
  display: block;
  color: #fff;
}
.btn--center--big {
  width: 100%;
  max-width: 245px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}
.btn:hover {
  text-decoration: none;
}
.btn:hover:after {
  right: 0;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn:visited {
  color: #fff;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: rgba(52,152,219,0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  -webkit-box-shadow: inset 0 -6px 10px rgba(52,152,219,0.25);
  box-shadow: inset 0 -6px 10px rgba(52,152,219,0.25);
}
.btn:hover:after,
.btn.hover:after {
  height: 100%;
}
.closebt {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.closebt:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.close-animatedModal {
  padding-top: 200px;
}
input[type="submit"].btn:hover {
  border-color: #2e4153;
}
.btn--slider {
  background-color: transparent;
  border: 2px solid #2c3e50;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn--slider:hover {
  background-color: transparent;
}
.btn--slider--white {
  border: 2px solid #fff;
  max-width: 150px;
  color: #fff;
}
.btn--slider--white:visited {
  color: #fff;
  border: 2px solid #fff;
}
.btn--disabled cursor default {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.btn--error {
  background-color: #da4f49;
  color: #91221d;
}
.btn--error:hover {
  color: #e99592;
}
.btn--error:visited {
  color: #91221d;
}
.btn--info {
  background-color: #a5dddf;
  color: #3da8ac;
}
.btn--info:hover {
  color: #c9ebec;
}
.btn--info:visited {
  color: #3da8ac;
}
.btn--primary {
  background-color: #2c3e50;
  color: #fff;
  font-size: 1.15rem;
  padding: 0 1rem;
}
.btn--primary:hover,
.btn--primary:visited {
  color: #fff;
}
.btn--success {
  background-color: #5bb75b;
  color: #327232;
}
.btn--success:hover {
  color: #9dd49d;
}
.btn--success:visited {
  color: #327232;
}
.btn--warning {
  background-color: #da4f49;
  color: #91221d;
}
.btn--warning:hover {
  color: #e99592;
}
.btn--warning:visited {
  color: #91221d;
}
.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
  cursor: default;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.btn--mini {
  line-height: 1.5;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.btn--small {
  line-height: 2;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.btn--large {
  line-height: 3;
  padding-left: 3em;
  padding-right: 3em;
}
--group {
  margin-left: 0.3em;
  position: relative;
}
--group .btn {
  border-radius: 0;
  float: left;
  margin-left: -1px;
  position: relative;
}
--group .btn:first-child {
  border-radius: 0 0 5px 5px;
  margin-left: 0;
}
--group .btn:last-child {
  border-radius: 5px 5px 0 0;
}
.btn--group .btn.large:first-child {
  border-radius: 5px 0 5px 0;
  margin-left: 0;
}
.btn--group .btn.large:last-child {
  border-radius: 0 5px 0 5px;
}
--block {
  display: block;
  margin: 1rem 0;
}
--block:hover,
--block:focus,
--block:visited {
  color: #fff;
}
::-moz-selection {
  background: #2c3e50;
  color: #fff;
}
::selection {
  background: #2c3e50;
  color: #fff;
}
hr {
  border: 0;
  border-top: 1px solid #222831;
  clear: both;
  display: block;
  height: 1px;
  margin: 2.8 0;
  padding: 0;
}
img {
  -ms-interpolation-mode: bicubic;
  border-width: 0;
  max-width: 100%;
  vertical-align: middle;
}
.img--rounded {
  border-radius: 20px;
}
.img--polaroid {
  background-color: #fff;
  border: 1px solid #222831;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 24px/2;
}
.img--circle {
  border-radius: 100%;
}
figure {
  margin-bottom: 1.4;
}
figure img {
  margin-bottom: 1.4/4;
}
figure figcaption {
  color: #8190a8;
  display: block;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}
ul {
  list-style-image: url("img/lista.png");
}
ul li {
  padding: 0.1rem 0;
}
ul.post-categories {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 0;
}
ul.post-categories li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.alignnone,
img.alignnone {
  float: none;
  max-width: 100%;
  height: auto;
}
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 1.5em;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  max-width: 100%;
  height: auto;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}
h1 text-rendering optimizelegibility.altheader,
h2 text-rendering optimizelegibility.altheader,
h3 text-rendering optimizelegibility.altheader,
h4 text-rendering optimizelegibility.altheader,
h5 text-rendering optimizelegibility.altheader,
h6 text-rendering optimizelegibility.altheader {
  color: #8190a8;
  text-transform: uppercase;
}
h1 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: #8190a8;
}
p,
ol,
ul,
dl,
address {
  margin: 0;
  line-height: 1.4;
}
p {
  margin: 0.5rem 0;
}
.intro,
font-weight bold,
small {
  font-size: 12px;
  color: #8190a8;
}
ul,
ol {
  margin: 0 0 1.4 0;
  padding: 0 0 0 24px;
}
li ul,
li ol {
  margin: 0;
}
blockquote {
  margin: 0 0 0 0;
  padding: 24px;
  border-left: 2px solid #2c3e50;
  font-family: "Raleway", sans-serif, Helvetica, Arial;
  font-style: normal;
  background-color: #f2f4f6;
}
blockquote p {
  font-size: 18px;
  color: #8190a8;
  font-style: italic;
}
@media only screen and (min-width: 48em) {
  blockquote {
    margin: 1rem 3rem;
  }
}
q {
  quotes: none;
  font-style: italic;
}
blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: "";
}
cite {
  font-style: normal;
}
dl,
dd {
  margin-bottom: 1.4;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}
abbr[title] {
  border-bottom: 1px dotted #222831;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ins {
  background-color: #c1cfdd;
  color: #3c4757;
  text-decoration: none;
}
mark {
  background-color: #ff0;
  color: #3c4757;
}
pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.4;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  line-height: 0;
  vertical-align: 1.4;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.icon-nav {
  width: 30px;
  height: 33px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.icon-nav span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.icon-nav span:nth-child(1) {
  top: 0;
}
.icon-nav span:nth-child(2) {
  top: 10px;
}
.icon-nav span:nth-child(3) {
  top: 20px;
}
.icon-nav.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.icon-nav.open span:nth-child(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: -60px;
}
.icon-nav.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.nav ul {
  display: block;
  padding: 0;
}
.nav ul a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  border-bottom: 1px dashed #fff;
}
.nav ul a:hover,
.nav ul a:focus,
.nav ul a:active {
  background-color: #fff;
  text-decoration: none;
  color: #2c3e50;
  outline: none;
}
@media only screen and (min-width: 48em) {
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  .nav ul a {
    border-bottom: 0;
    color: #fff;
  }
}
.nav--main {
  display: none;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .nav--main {
    display: block !important;
    width: auto;
    margin-top: 1rem;
  }
}
.not-sticking {
  position: absolute !important;
}
@media only screen and (min-width: 48em) {
  #togle-nav {
    display: none;
  }
}
.pagination {
  text-align: center;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  margin-top: 1rem;
}
.pagination li {
  display: inline-block;
  padding: 12px;
  letter-spacing: normal;
  word-spacing: normal;
}
.pagination li a {
  padding: 12px;
  margin: -12px;
  outline: none;
}
.pagination li.current a {
  color: #8190a8;
}
__next a:before {
  content: "\00AB" "\00A0";
}
__last a:after {
  content: "\00A0" "\00BB";
}
form {
  margin: 0 0 1.4 0;
}
form fieldset {
  border-width: 0;
  margin-bottom: 1.4;
  padding: 0;
}
form legend {
  border: 0;
  border-bottom: 1px solid #c0c8d3;
  color: #3c4757;
  display: block;
  margin-bottom: 2.8;
  padding: 0;
  white-space: normal;
  width: 100%;
  color: #c0c8d3;
}
form legend small {
  font-size: 14px;
}
form p {
  margin-bottom: 1.4/2;
}
form ul {
  list-style-type: none;
  margin: 0 0 1.4 0;
  padding: 0;
}
form br {
  display: none;
}
label,
input,
button,
select,
textarea {
  border-radius: 5px;
  font-size: 1rem;
  vertical-align: baseline;
}
input,
button,
select,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif, Helvetica, Arial;
}
label {
  color: #3c4757;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-bottom: 1.4/8;
}
label input,
label textarea,
label select {
  display: block;
}
input,
textarea,
select {
  background-color: #fff;
  border: 1px solid #c0c8d3;
  color: #3c4757;
  display: inline-block;
  margin-bottom: 1.4/4;
  padding: 4px;
  width: 100%;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #8190a8;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  border: 0 9;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin: 3px 0;
  padding: 0;
  width: auto;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  background-color: initial;
  background-color: transparent;
  border: initial;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  line-height: initial;
  padding: initial;
  width: auto;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  *overflow: visible;
  cursor: pointer;
  height: auto;
  width: auto;
}
select,
input[type="file"] {
  *margin-top: 4px;
  height: 28px;
  line-height: 28px;
}
select {
  background-color: #fff;
  font-size: 13px;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
height auto,
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  font-weight: normal;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  padding-top: 5px;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
input:focus,
textarea:focus {
  border-color: #2c3e50;
  outline: 0;
  outline: thin dotted 9;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
::-webkit-input-placeholder {
  font-size: 14px;
}
input:-moz-placeholder {
  font-size: 14px;
}
.help-block,
.help-inline {
  color: #8190a8;
}
.help-block {
  display: block;
  margin-bottom: 1.4/2;
}
.help-inline {
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}
.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}
.form-inline label {
  display: inline-block;
}
.form-inline .radio,
.form-inline .checkbox {
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .search-query {
  margin-bottom: 0;
  padding-left: 14px;
  padding-right: 14px;
}
.form-search label {
  display: inline-block;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form--control {
  height: 40px;
  margin: 0.3rem 0;
  padding: 0.5rem;
}
@media only screen and (min-width: 48em) {
  .form--control {
    margin: 0.5rem 0;
    width: 31%;
  }
}
.form .btn {
  margin: 1rem auto;
}
textarea.form--control {
  height: 220px;
  width: 100%;
}
input:required:focus:invalid {
  background-color: #fce5d1;
  border: 1px solid #fce4cf;
}
input:required:focus:valid {
  background-color: #9dd49d;
  border: 1px solid #5bb75b;
}
span.wpcf7-not-valid-tip {
  font-size: 1rem;
  font-weight: bold;
}
div.wpcf7-validation-errors {
  border-color: #2c3e50;
  font-size: 1rem;
}
.form span.wpcf7-not-valid-tip {
  color: #fff;
}
.form div.wpcf7-validation-errors {
  border-color: #fff;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #c1cfdd;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  font-size: 100%;
}
body {
  background-color: transparent;
  color: #3c4757;
  font-family: "Raleway", sans-serif, Helvetica, Arial;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
}
#map {
  height: 400px;
}
.animation__hover {
  background-color: #fff;
  color: #222831;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 32px;
  margin: 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.animation__hover * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.animation__hover:after {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  bottom: -145%;
  content: '';
  height: 150%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.animation__hover img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.animation__hover figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.35em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 1;
}
.animation__hover h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}
.animation__hover h3 span {
  display: block;
  font-weight: 700;
}
.animation__hover a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.animation__hover:hover > img,
.animation__hover:hover.hover {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.animation__hover:hover:after,
.animation__hover.hover:after {
  bottom: 95%;
}
.animation__hover:hover figcaption,
.animation__hover.hover figcaption {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.blog {
  background-color: #f2f4f6;
  padding:3rem 0;
}
.blog--intern {
  padding: 5rem 1rem;
}
.blog--intern .box {
  padding: 0;
}
.blog__boxing {
  background-color: #f2f4f6;
}
.blog__boxing .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.blog__boxing .sidebar {
  width: 30%;
}
.blog__information {
  background-color: #fff;
  padding: 1rem;
  width: 96%;
}
.blog__information figure,
.blog__information h1 {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 64em) {
  .blog__information {
    width: 64%;
  }
}
.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
}
@media only screen and (min-width: 48em) {
  .blog__item {
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 64em) {
  .blog__item {
    -webkit-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.blog__item--new {
  -webkit-box-shadow: 0 0 5px rgba(44,62,80,0.95);
  box-shadow: 0 0 5px rgba(44,62,80,0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 10px 0;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}
.blog__item--new * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.blog__item--new img {
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
.blog__item--new figcaption {
  bottom: 0;
  padding: 25px 20px 25px;
  position: absolute;
  z-index: 1;
}
.blog__item--new figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c3e50;
  background: -webkit-gradient(linear, left top, right top, from(#2c3e50), color-stop(100%, #3498db), to(#3498db));
  background: linear-gradient(90deg, #2c3e50 0%, #3498db 100%, #3498db 100%);
  content: '';
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: -1;
}
.blog__item--new .date {
  position: absolute;
  right: 15px;
  top: -25px;
  background-color: #fff;
  border-radius: 50%;
  color: #2c3e50;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.blog__item--new .date span {
  display: block;
  line-height: 14px;
}
.blog__item--new .date .month {
  font-size: 11px;
}
.blog__item--new h3,
.blog__item--new p {
  margin: 0;
  padding: 0;
}
.blog__item--new h3 {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}
.blog__item--new p {
  color: #fff;
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}
.blog__item--new a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.blog__item--new:hover img,
.blog__item--new.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media only screen and (min-width: 48em) {
  .blog__item--new {
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 45%;
    margin: 10px;
  }
}
@media only screen and (min-width: 64em) {
  .blog__item--new {
    max-width: 31%;
  }
}
.controls__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.controls__work li {
  cursor: pointer;
  font-weight: 600;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.controls__work li:hover {
  border-bottom: 1px dashed #2c3e50;
}
.controls__work li:after {
  content: " | ";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.controls__work li:last-child:after {
  content: " ";
  margin-left: 0;
}
@media only screen and (min-width: 48em) {
  .controls__work {
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
  }
}
.comments {
  border-top: 1px solid #c0c8d3;
  margin-top: 1rem;
  padding-top: 1rem;
}
.comments__item {
  border-bottom: 1px solid #2c3e50;
  padding: 2rem 0;
}
.comments__item header {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.comments__item figure {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 0;
}
.comments__item figure .image {
  border-radius: 50%;
  margin-right: 1rem;
  max-width: 100px;
  overflow: hidden;
}
.comments__item .reply a {
  color: #3498db;
}
.comments__item--answer {
  margin-left: 0.5rem;
}
@media only screen and (min-width: 37.5em) {
  .comments__item--answer {
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 48em) {
  .comments__item--answer {
    margin-left: 5rem;
  }
}
.filtr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1rem;
}
@media only screen and (min-width: 48em) {
  .filtr-container div {
    max-width: 50%;
  }
}
@media only screen and (min-width: 64em) {
  .filtr-container div {
    max-width: 33%;
  }
}
@media only screen and (min-width: 75em) {
  .filtr-container div {
    max-width: 25%;
  }
}
.footer__map {
  overflow: hidden;
}
.footer__form {
  background-color: #33485c;
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.2rem;
  padding: 5rem 3rem;
}
.footer__form h6 {
  margin-bottom: 1rem;
}
.footer .information .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 3rem 0;
}
.footer .information__item {
  text-align: center;
}
.footer .information__item span,
.footer .information__item strong {
  display: block;
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
}
.footer .information__item span {
  font-size: 2.5rem;
}
.footer .isa {
  background-color: #2c3e50;
  color: #fff;
}
.footer .isa .box {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}
@media only screen and (min-width: 48em) {
  .footer .isa .box {
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.footer .isa a {
  color: #fff;
}
.footer .isa__left {
  font-size: 0.9rem;
}
.footer .isa__right {
  margin-top: 1rem;
}
@media only screen and (min-width: 48em) {
  .footer .isa__right {
    margin-top: 0;
  }
}
.footer .isa__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.footer .isa__right ul li {
  margin: 0 0.5rem;
}
.footer .isa__right a {
  font-size: 1.6rem;
}
.footer .isa__right a:hover {
  color: #3498db;
  text-decoration: none;
}
.header {
  overflow: hidden;
  position: relative;
}
.header:before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: #2c3e50;
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#2c3e50));
  background: linear-gradient(to right, #3498db, #2c3e50);
  content: " ";
  display: block;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.header__top {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .header__top {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34,40,49,0.5);
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 64em) {
  .header__top {
    -webkit-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.header__top h1 {
  margin-left: 24px;
}
.header__top .icon-nav {
  margin-right: 24px;
}
.header__top .icon-nav span {
  background-color: #fff;
}
.header__top--internal {
  background-color: #f2f4f6;
  position: relative !important;
}
.header__top--internal .logo {
  background-image: url("../img/logo-isa-black.png");
}
.header__top--internal .nav ul a {
  border-bottom: 1px dashed #2c3e50;
  color: #222831;
}
.header__top--internal .nav ul a:hover {
  background-color: #2c3e50;
  color: #fff;
}
@media only screen and (min-width: 48em) {
  .header__top--internal .nav ul a {
    border-bottom: 0;
  }
}
.header__top--internal .nav ul a.active {
  color: #fff;
}
.header__top--internal .icon-nav span {
  background-color: #2c3e50;
}
.isabella {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.isabella__image {
  background-image: url("../img/me.jpg");
  background-position: center;
  background-size: 50% 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 400px;
  width: 100%;
}
.isabella__information {
  background-color: #33485c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}
.isabella__information span {
  display: block;
  font-weight: 600;
  margin: 0 0 1rem 0;
}
.isabella__information h4 {
  font-size: 2rem;
}
.isabella__information p {
  font-weight: 300;
  margin: 0.5rem 0;
}
.isabella__information a {
  margin-top: 2rem;
}
@media only screen and (min-width: 48em) {
  .isabella__information {
    padding: 5rem;
  }
}
@media only screen and (min-width: 64em) {
  .isabella {
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -o-box-lines: single;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .isabella__image {
    height: 700px;
  }
}
.line {
  background-color: #3c4757;
  height: 2px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  width: 25%;
}
.line--min {
  width: 10%;
}
.logo {
  background-image: url("../img/logo-isa-white.png");
  background-repeat: no-repeat;
  background-size: 224px 53px;
  display: block;
  height: 53px;
  text-indent: -99999px;
  width: 224px;
}
@media only screen and (min-width: 30em) {
  .logo {
    background-size: 277px 65px;
    height: 65px;
    width: 277px;
  }
}
@media only screen and (min-width: 48em) {
  .logo {
    background-image: url("../img/logo-isa-white.png");
  }
}
.main {
  padding-top: 100px;
}
@media only screen and (min-width: 48em) {
  .main {
    padding-top: 0;
  }
}
.main--internal {
  padding-top: 0;
}
.photostyles {
  font-family: "Raleway", sans-serif, Helvetica, Arial;
}
.photostyles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.photostyles__box {
  background-color: #f2f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 14px;
  padding: 2rem 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 340px;
}
.photostyles__box:hover {
  background-color: rgba(44,62,80,0.1);
  -webkit-box-shadow: 2px 1px 6px #2c3e50;
  box-shadow: 2px 1px 6px #2c3e50;
}
.photostyles__box span {
  font-size: 5rem;
}
.photostyles__box .btn--primary {
  margin: auto auto 0 auto;
}
@media only screen and (min-width: 48em) {
  .photostyles__box {
    width: 300px;
  }
}
@media only screen and (min-width: 64em) {
  .photostyles__box {
    width: 28%;
    margin: 9px;
  }
}
@media only screen and (min-width: 75em) {
  .photostyles__box {
    width: 338px;
  }
}
.photostyles--title {
  font-size: 1.5rem;
  margin-top: 0.7rem;
}
.photostyles--information {
  color: #4e5b70;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}
.photostyles__image {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 936px;
  width: 100%;
}
.photostyles__information {
  display: block;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0 1rem;
}
@media only screen and (min-width: 48em) {
  .photostyles__information--image {
    float: left;
    width: 60%;
  }
  .photostyles__information--text {
    float: right;
    font-family: "Raleway", sans-serif, Helvetica, Arial;
    padding: 0 2.5%;
    width: 35%;
  }
  .photostyles__information--text p {
    font-size: 1.3rem;
  }
  .photostyles__information--text li {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 64em) {
  .photostyles__information {
    margin-top: 2rem;
  }
}
.project {
  background-color: #f2f4f6;
  padding: 5rem 0rem;
}
.project .box {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 48em) {
  .project {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.services__intern--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 3rem 0;
}
.services__intern--gallery {
  margin: 0.6rem 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
}
.services__intern--gallery *,
.services__intern--gallery *:before,
.services__intern--gallery *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.services__intern--gallery img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.services__intern--gallery:before,
.services__intern--gallery:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  content: '';
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.services__intern--gallery:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}
.services__intern--gallery:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}
.services__intern--gallery figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  padding: 25px 40% 25px 20px;
  z-index: 1;
}
.services__intern--gallery figcaption:before,
.services__intern--gallery figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3498db;
  -webkit-box-shadow: 0 0 20px rgba(51,72,92,0.7);
  box-shadow: 0 0 20px rgba(51,72,92,0.7);
  content: '';
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: -1;
}
.services__intern--gallery figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}
.services__intern--gallery figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}
.services__intern--gallery figcaption h3,
.services__intern--gallery figcaption p {
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.services__intern--gallery figcaption h3 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.services__intern--gallery figcaption p {
  font-size: 0.9em;
}
.services__intern--gallery figcaption a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.services__intern--gallery figcaption:hover h3,
.services__intern--gallery figcaption:hover p {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.services__intern--gallery figcaption:hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.services__intern--gallery figcaption:hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}
.services__intern--gallery figcaption:hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.services__intern--gallery figcaption:hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
@media only screen and (min-width: 48em) {
  .services__intern--gallery {
    max-width: 50%;
  }
}
@media only screen and (min-width: 64em) {
  .services__intern--gallery {
    max-width: 33%;
    margin: 0.2rem 0;
  }
}
.sidebar {
  display: none;
}
@media only screen and (min-width: 64em) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .sidebar .widget {
    background-color: #fff;
    margin: 0 0 1.2rem 0;
    padding: 1rem;
  }
  .sidebar .widget ul {
    list-style-position: outside;
    padding: 1rem 0 0 0;
  }
  .sidebar .widget ul li {
    border-bottom: 1px solid #3c4757;
    padding: 0.5rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .sidebar .widget ul li:hover {
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
  }
  .sidebar .widget ul a {
    color: #8190a8;
    font-family: "Raleway", sans-serif, Helvetica, Arial;
    font-size: 1.1rem;
    padding: 0.5rem 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .sidebar .widget ul a:hover {
    color: #2c3e50;
    text-decoration: none;
  }
  .sidebar .widget ul.rs li {
    border-bottom: 0;
  }
  .sidebar .widget ul.rs li a {
    color: #2c3e50;
    font-size: 1.54rem;
  }
  .sidebar .widget ul.rs li a:hover {
    color: #8190a8;
  }
  .sidebar .widget--dashed ul li {
    border-bottom: 1px dashed #3c4757;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.slider {
  display: none;
}
@media only screen and (min-width: 48em) {
  .slider {
    display: block;
    position: relative;
  }
  .slider img {
    background-size: cover;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    width: auto;
    z-index: -100;
  }
  .slider .slider--message {
    position: absolute;
    left: 31%;
    top: 55%;
    color: #fff;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
  }
}
@media only screen and (min-width: 48em) and (min-width: 64em) {
  .slider .slider--message {
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 3.5rem;
  }
}
.sticking {
  background-color: #f2f4f6;
  -webkit-box-shadow: 1px 2px 7px #8190a8;
  box-shadow: 1px 2px 7px #8190a8;
}
.sticking ul a {
  color: #222831;
}
.sticking ul a.active,
.sticking ul a:hover {
  background-color: #2c3e50;
  color: #fff;
}
.sticking .icon-nav span {
  background-color: #2c3e50;
}
.sticking .logo {
  background-image: url("../img/logo-isa-black.png");
}
.rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1rem;
}
.testimonials {
  overflow: hidden;
  padding: 5rem 1rem;
}
.testimonials__slides {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.testimonials__slides figure {
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  width: 100%;
}
.testimonials__slides blockquote {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .testimonials__slides blockquote {
    font-size: 1.5rem;
    padding: 0;
  }
}
.testimonials__slides strong {
  font-family: "Raleway", sans-serif, Helvetica, Arial;
}
.title {
  display: block;
  font-family: "Raleway", sans-serif, Helvetica, Arial;
  font-weight: normal;
  width: 100%;
}
.title--main {
  color: #2c3e50;
  font-size: 1.85rem;
}
@media only screen and (min-width: 30em) {
  .title--main {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 48em) {
  .title--main {
    font-size: 3em;
  }
  .title--main--min {
    font-size: 2.5rem;
  }
}
.title--secundary {
  color: #8190a8;
  font-size: 0.95rem;
}
@media only screen and (min-width: 30em) {
  .title--secundary {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 48em) {
  .title--secundary {
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
}
.title--section {
  font-size: 1.8rem;
  line-height: 1.1;
}
@media only screen and (min-width: 37.5em) {
  .title--section {
    font-size: 2.6rem;
  }
}
.title--section-secundary {
  font-size: 1.2rem;
}
@media only screen and (min-width: 37.5em) {
  .title--section-secundary {
    font-size: 2rem;
  }
}

.photostyles:focus,
.project:focus,
.isabella:focus,
.testimonials:focus,
.blog:focus,
.footer:focus{
  outline: none;
}

/* Plugins */

@media screen and (min-width:768px){
  .wpcf7-form-control-wrap{
    margin-right: 28px;
  }

  .wpcf7-form-control-wrap.email{
    margin-right: 0;
  }
}